/*solely for styling canvas*/
@import url(https://fonts.googleapis.com/css?family=Annie%20Use%20Your%20Telescope);

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }