/*solely for styling canvas position*/

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    background-color: black;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }